body {
	color: #e5d8c4;
	background-color: black;
}

a {
	color: #4b7ff1;
}

a:visited {
	color: #4b7ff1;
}

.bw-icon {
	color: white;
	fill: white;
}

.faded:not(:hover) svg * {
	color: #9a9690 !important;
	fill: #9a9690 !important;
}

// Header

.site-header {
	border-top: 5px solid #051928;
	border-bottom: 1px solid #051928;
}

.site-description {
	color: #6d6e70;
}

// Feed

.feed {
	border: solid #2c3642 1px;
}

// Language Dropdown

.dropdown-button {
	border: solid #2c3642 1px;
}

.dropdown-button:hover {
	color: white;
	fill: white;
}

.dropdown-menu {
	box-shadow: 0px 10px 16px 0px rgba(255, 255, 255, 0.2);
	background-color: black;
}

button.dropdown-menu-item:hover {
	background-color: #000f21;
}

button.dropdown-menu-item {
	color: #9a9690;
	fill: #9a9690;
}
button.dropdown-menu-item:hover {
	color: white;
	fill: white;
}

// Index

.post-index .meta {
	color: #6b6c6e;
}

// Post

.post-meta {
	color: #6b6c6e;
	border-bottom: 1px solid #001728;
}

// Footer

.site-footer {
	border-color: #1a2835;
	background-color: #001525;
}

.footer-content .roundbox {
	background-color: black;
}

.roundbox:hover path#github {
	fill: white !important;
}

.roundbox:hover path#envelope {
	fill: white !important;
}
