$default-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
$default-monospace: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
$default-symbol: "SF Symbols", "Segoe UI Symbol", "DejaVu Sans";
