---
layout: default
---

<h1 class="posts">Posts</h1>

<ul class="post-index">
	{% for post in site.posts %}
		<li>
			<time datetime="{{ post.date | date: "%Y-%m-%d %H:%M %z" }}" title="{{ post.date | date: "%Y-%m-%d %H:%M %z" }}">
				<i class="far fa-clock"></i> {{ post.date | date: "%b %e, %Y" }}
			</time>
			<h2>
				<a href="{{ post.url | prepend: site.baseurl }}">
					{{ post.title }}
				</a>
			</h2>
			{% if post.categories.size > 0 or post.tags.size > 0 %}<div class="meta">{% if post.categories.size > 0 %}<i class="fas fa-folder"></i> {% if post.categories.size == 1 %}Category{% else %}Categories{% endif %}: {{ post.categories | join: ", " }}{% if post.categories.size > 0 and post.tags.size > 0 %} &nbsp;&nbsp; {% endif %}{% endif %}{% if post.tags.size > 0 %}<i class="fas fa-tags"></i> Tags: {{ post.tags | join: ", " }} {% endif %}</div>{% endif %}
		</li>
	{% endfor %}
</ul>
