---
---

@import "reset";
@import "fontawesome";

$default-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
$default-monospace: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;

body {
	font-family: $default-sans;
	line-height: 1.5;
	-moz-tab-size: 4;
	tab-size: 4;
	//display: flex;
	//flex-direction: column;
	//min-height: 100vh;
}

a {
	color: #0366d6;
	text-decoration: none;
}

a:visited {
	color: #0366d6;
}

a:hover {
	text-decoration: underline;
}

.noselect {
	user-select: none;
}

img {
	user-select: none;
}

// Container

.container {
	max-width: 800px - (30px * 2);
	margin-right: auto;
	margin-left: auto;
	padding: 0px 30px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

// Header

.site-header {
	border-top: 5px solid #424242;
	border-bottom: 1px solid #e8e8e8;
}

.header-flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.site-title {
	vertical-align: middle;
}

.site-name {
	font-size: 32px;
	font-weight: 300;
	font-variant: small-caps;
}

.site-description {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 5px;
	color: gray;
}

.site-nav {
	margin-left: auto;
	align-self: center;
	vertical-align: middle;
}

.site-nav li {
	display: inline-block;
	text-decoration: inherit;
}

.site-nav li:not(:first-child) {
	margin-left: 20px;
}

@media screen and (max-width: 600px) {
	.site-title {
		text-align: center;
	}
	.site-nav {
		text-align: center;
		margin: 0px;
	}
	.header-flex {
		 flex-direction: column;
	}
}

// Round button

.button {
	color: #595959;
	padding: 9px;
	border: solid silver 1px;
	border-radius: 25%;
	width: 1em;
	height: 1em;
	text-align: center;
}

// Feed

.feed {
	display: inline-block;
	margin-right: 10px;
}

.feed:hover .button {
	color: #ff7f00;
}

// Language

.lang {
	display: inline-block;
}

.lang .button {
	box-sizing: content-box;
}

.lang:hover .button {
	color: black;
}

.lang .menu {
	display: none;
	position: absolute;
	z-index: 1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	text-align: center;
	background-color: white;
	margin-left: -82 + 36px;
	@media screen and (hover: none) {
		// Workaround for touch screen bullshit
		padding-top: 1.5em;
	}
}

.lang .menu a {
	display: block;
	padding: 0.25em 1em;
}

.lang:hover .menu {
	display: block;
}

// Index

.post-index li {
	margin-top: 30px;
}

.post-index h2 {
	font-size: 24px;
	//font-weight: 300;
}

.posts {
	font-size: 24px;
	//font-weight: 300;
	margin-bottom: 30px;
}

.post-index .meta {
	display: block;
	font-size: 12px;
	color: #828282;
}

.post-index .meta .date {
	display: inline-block;
	margin-right: 10px;
}

.post-index .meta .edit {
	display: inline-block;
}

.post-index .meta .categories {
	display: inline-block;
	margin-right: 10px;
}

.post-index .meta .tags {
	display: inline-block;
}

// Post

.post-meta {
	display: block;
	margin-top: -10px;
	margin-bottom: 16px;
	font-size: 14px;
	color: #828282;
	border-bottom: 1px solid #eaecef;
	padding-bottom: 6px;
}

.post-meta .date {
	display: inline-block;
	margin-right: 10px;
}

.post-meta .edit {
	display: inline-block;
}

.post-meta .categories {
	display: inline-block;
	margin-right: 10px;
	margin-left: 0px;
}

.post-meta .tags {
	display: inline-block;
	margin-right: 0px;
	margin-left: 0px;
}

@media screen and (min-width: 800px) {
	.post-meta .topics {
		float: right;
	}

	.post-meta .categories {
		display: inline-block;
		margin-right: 0px;
		margin-left: 0px;
	}

	.post-meta .tags {
		display: inline-block;
		margin-right: 0px;
		margin-left: 10px;
	}
}

// Page

.page-content {
	padding: 30px 0;
}

// Footer

.site-footer {
	border-color: lightgray;
	border-style: solid;
	border-width: 1px 0px;
	background-color: #eee;
	padding: 15px 0;
}

.footer-content {
	text-align: center;
	font-size: 16px;
	color: #595959;
}

.footer-content .roundbox {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 4px;
	background-color: white;
	border-radius: 25%;
	fill: #595959;
	text-align: center;
	vertical-align: middle;
}

.footer-content .roundbox svg {
	width: 24px;
	height: 24px;
	margin: 8px;
}

// Ultra cool icon hover coloring

.roundbox svg#envelope { fill: inherit; }
.roundbox:hover svg#envelope { fill: black; }

.roundbox svg#github { fill: inherit; }
.roundbox:hover svg#github { fill: black; }

.roundbox svg#gitlab #tanuki-nose { fill: inherit; }
.roundbox svg#gitlab #tanuki-left-eye { fill: white; }
.roundbox svg#gitlab #tanuki-left-cheek { fill: inherit; }
.roundbox svg#gitlab #tanuki-left-ear { fill: inherit; }
.roundbox svg#gitlab #tanuki-right-eye { fill: white; }
.roundbox svg#gitlab #tanuki-right-cheek { fill: inherit; }
.roundbox svg#gitlab #tanuki-right-ear { fill: inherit; }
.roundbox:hover svg#gitlab #tanuki-nose { fill: #e24329; }
.roundbox:hover svg#gitlab #tanuki-left-eye { fill: #fc6d26; }
.roundbox:hover svg#gitlab #tanuki-left-cheek { fill: #fca326; }
.roundbox:hover svg#gitlab #tanuki-left-ear { fill: #e24329; }
.roundbox:hover svg#gitlab #tanuki-right-eye { fill: #fc6d26; }
.roundbox:hover svg#gitlab #tanuki-right-cheek { fill: #fca326; }
.roundbox:hover svg#gitlab #tanuki-right-ear { fill: #e24329; }

.roundbox svg#linkedin { fill: inherit; }
.roundbox:hover svg#linkedin { fill: #0077b5; }

.roundbox svg#stack-overflow #stack { fill: inherit; }
.roundbox svg#stack-overflow #overflow { fill: inherit; }
.roundbox:hover svg#stack-overflow #stack { fill: #bcbbbb; }
.roundbox:hover svg#stack-overflow #overflow { fill: #f48023; }

@import "github-markdown";
@import "syntax-monokai-sublime";
