<link rel="icon" type="image/x-icon" href="{{ '/assets/icon.ico' | relative_url }}" sizes="192x192 128x128 96x96 72x72 64x64 48x48 32x32 24x24 16x16">
<link rel="icon" type="image/png" href="{{ '/assets/icon-16.png' | relative_url }}" sizes="16x16">
<link rel="icon" type="image/png" href="{{ '/assets/icon-24.png' | relative_url }}" sizes="24x24">
<link rel="icon" type="image/png" href="{{ '/assets/icon-32.png' | relative_url }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ '/assets/icon-48.png' | relative_url }}" sizes="48x48">
<link rel="icon" type="image/png" href="{{ '/assets/icon-64.png' | relative_url }}" sizes="64x64">
<link rel="icon" type="image/png" href="{{ '/assets/icon-72.png' | relative_url }}" sizes="72x72">
<link rel="icon" type="image/png" href="{{ '/assets/icon-96.png' | relative_url }}" sizes="96x96">
<link rel="icon" type="image/png" href="{{ '/assets/icon-128.png' | relative_url }}" sizes="128x128">
<link rel="icon" type="image/png" href="{{ '/assets/icon-192.png' | relative_url }}" sizes="192x192">
<link rel="icon" type="image/svg+xml" href="{{ '/assets/icon.svg' | relative_url }}" sizes="any">
<link rel="manifest" href="{{ site.data.langs[page.lang].blog.manifest | relative_url }}">
<link rel="mask-icon" href="{{ '/assets/icon-mono.svg' | relative_url }}" color="#ee4400">
<meta name="application-name" content="{{ site.title }}">