{%- if page.lang != "en" -%}
	{%- capture lang_text -%}{{ site.data.translations['Language'][page.lang] }} (Language){%- endcapture -%}
{%- else -%}
	{%- assign lang_text = site.data.translations['Language'][page.lang] -%}
{%- endif -%}
<div class="quick-menu" style="float:right">
	{%- if page.layout == "index" -%}
		<a class="feed square-icon faded" title="Atom Feed" href="{{ site.data.langs[page.lang].blog.feed | relative_url }}" type="application/atom+xml">{% include far/rss.svg %}</a>
	{%- endif -%}
	{%- if site.data.groups[page.group].size > 0 -%}
		<div id="langs" class="dropdown">
			<button title="{{ lang_text }}" class="dropdown-button square-icon faded">{% include far/earth-americas.svg %}</button>
			<div class="dropdown-menu hidden">
				{%- for _group in site.data.groups[page.group] -%}
					{%- assign _lang = _group[0] -%}
					{%- assign _path = _group[1] -%}
					{%- assign _page = site.pages | concat: site.documents | where:"path",_path | first -%}
					<a class="dropdown-menu-item" href="{{ _page.url | relative_url }}" lang="{{ _lang }}">{{ site.data.langs[_lang].name }}</a>
				{%- endfor -%}
			</div>
		</div>
	{%- endif -%}
	<div id="themes" class="dropdown">
		<button title="{{ site.data.translations['Theme'][page.lang] }}" class="dropdown-button square-icon faded">{% include far/circle-half-stroke.svg %}</button>
		<div class="dropdown-menu hidden">
			<button class="dropdown-menu-item icon" onclick="setTheme(null)">{% include far/gears.svg %} <span class="text">{{ site.data.translations['Auto'][page.lang] }}</span></button>
			<button class="dropdown-menu-item icon" onclick="setTheme(false)">{% include far/sun.svg %} <span class="text">{{ site.data.translations['Light'][page.lang] }}</span></button>
			<button class="dropdown-menu-item icon" onclick="setTheme(true)">{% include far/moon.svg %} <span class="text">{{ site.data.translations['Dark'][page.lang] }}</span></button>
		</div>
	</div>
</div>