---
layout:
---
<!DOCTYPE html>
{% capture title %}{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }} • {{ site.data.langs[page.lang].blog.description }}{% endcapture -%}
{% assign canonical = '/blog' | absolute_url -%}
<html>
	<head>
		<title>{{ title }}</title>
		
		<meta http-equiv="refresh" content="0; url={{ site.data.langs[page.lang].blog.index | relative_url }}">
		
		<style>
			@media (prefers-color-scheme: dark) {
				body {
					background-color: black;
				}
			}
		</style>
		
		<script>
			const preferredLangs = navigator.languages;
			//const supportedLangs = [{% for _lang in site.data.langs limit:1 %}"{{ _lang[0] }}"{% endfor %}{% for _lang in site.data.langs offset:1 %}, "{{ _lang[0] }}"{% endfor %}];
			
			for (const lang of preferredLangs) {
				{% for _lang in site.data.langs %}
					if (lang === "{{ _lang[0] }}")
					{
						window.location.replace("{{ _lang[1].blog.index | relative_url }}");
						break;
					}
				{% endfor %}
			}
		</script>
{% include favicons.html %}
{% include meta.html %}
	</head>
	<body></body>
</html>
