---
layout: blog
---

<h1 class="posts">{{ site.data.translations['Posts'][page.lang] }}</h1>

<ul class="post-index">
	{%- assign posts = site.documents | where: "lang", page.lang -%}
	{%- for post in posts -%}
		{%- assign day = post.date | date: "%e" -%}
		{%- assign month = post.date | date: "%B" -%}
		{%- assign year = post.date | date: "%Y" -%}
		<li>
			<div class="meta">
				<time class="date" datetime="{{ post.date | date: '%FT%T%:z' }}" title="{{ site.data.translations['Posted'][page.lang] }}: {{ post.date | date: '%F %T %:z' }}">
					<span class="icon">{% include far/clock.svg %}</span> <span>{{ day }} {{ site.data.translations[month][page.lang] }} {{ year -}}</span>
				</time>
				{%- if post.last_modified_at -%}
					<time class="edit" datetime="{{ post.last_modified_at | date: '%FT%T%:z' }}" title="{{ site.data.translations['Edited'][page.lang] }}: {{ post.last_modified_at | date: '%F %T %:z' }}">
						<span class="icon">{% include far/pen-alt.svg %}</span>
					</time>
				{%- endif -%}
			</div>
			<h2>
				<a href="{{ post.url | relative_url }}">
					{{ post.title }}
				</a>
			</h2>
			{{ post.excerpt | strip_html }}
			<a class="continue" href="{{ post.url | relative_url }}">{{ site.data.translations['Continue »'][page.lang] }}</a>
			{% if post.categories.size > 0 or post.tags.size > 0 %}
				<div class="meta">
					{%- if post.categories.size > 0 -%}
						<span class="categories"><span class="icon">{% include far/folder.svg %}</span> <span>{% if post.categories.size == 1 %}{{ site.data.translations['Category'][page.lang] }}{% else %}{{ site.data.translations['Categories'][page.lang] }}{% endif %}: {{ post.categories | join: ", " }}</span></span>
					{%- endif %}
					{%- if post.tags.size > 0 -%}
						<span class="tags"><span class="icon">{% include far/tags.svg %}</span> <span>{{ site.data.translations['Tags'][page.lang] }}: {{ post.tags | join: ", " }}</span></span>
					{%- endif -%}
				</div>
			{%- endif -%}
		</li>
	{%- endfor -%}
</ul>
